<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="~/css/main.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="icon" href="~/img/favicon.png" type="image/x-icon" />

    <script src="https://unpkg.com/mustache@latest"></script>

    <!--<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="icon" href="~/img/favicon.png" type="image/x-icon" />
     Posibles estilos a aplicar. False porque es opcional. La página que lo necesita, declara la sección.-->
    @RenderSection("Styles", false)

    <title>@ViewData["Title"] - Inmobiliaria Herrera</title>

</head>
<body onload="init()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">INMOBILIARIA HERRERA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <div class="dropdown ml-1 mr-1">
                            <button class="btn btn-outline-dark dropdown-toggle"
                                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-file-person">Propietarios</i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Propietario" asp-action="Index">Lista</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Propietario" asp-action="Crear">Crear</a>

                            </div>
                        </div>

                        <div class="dropdown ml-1 mr-1">
                            <button class="btn btn-outline-dark dropdown-toggle"
                                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-house-fill">Inmuebles</i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inmueble" asp-action="Index">Lista</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inmueble" asp-action="Crear">Crear</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inmueble" asp-action="Disponibles" class="btn btn-light">
                                Disponibles</a>
                            </div>
                        </div>
                        <div class="dropdown ml-1 mr-1">
                            <button class="btn btn-outline-dark dropdown-toggle"
                                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-file-person">Inquilinos</i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inquilino" asp-action="Index">Lista</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inquilino" asp-action="Crear">Crear</a>

                            </div>
                        </div>

                        <div class="dropdown ml-1 mr-1">
                            <button class="btn btn-outline-dark dropdown-toggle"
                                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-calendar4-range">Contratos</i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Contrato" asp-action="Index">Lista</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Contrato" asp-action="Crear">Crear</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="">
            @if (ViewBag.Id != null)
            {//alta exitosa
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> La entidad fue dada de alta con nº de código: @ViewBag.Id
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (ViewBag.Mensaje != null)
            {//cartel general
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Información:</strong> @ViewBag.Mensaje
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (ViewBag.Error != null)
            {//alta exitosa
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>¡Error!</strong> @ViewBag.Error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
            {//ocurrió un error
                <environment names="Development">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>¡Error!</strong> Ocurrió: @ViewBag.Error
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            @ViewBag.StackTrace
                        </div>
                    </div>
                </environment>
            }
            <div class="m-1 p-1">
                @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2021 - Inmobiliaria Herrera - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
