@model IEnumerable<Inmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Index";
    Contrato c = (Contrato)ViewBag.Contrato;
    string mensaje = TempData["Mensaje"] + "";
    string error = TempData["Error"] + "";
}

<h1><i class="bi bi-credit-card-fill">   </i>Pagos@(" de " + c.Inquilino.Apellido + " " + c.Inquilino.Nombre + " en " + c.Inmueble.Direccion)</h1>
@if (mensaje.Length != 0)
{
    <div class="alert alert-dismissible alert-success">
        @mensaje
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}
@if (error.Length != 0)
{
    <div class="alert alert-dismissible alert-warning">
        @error
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.Importe)
            </th>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.Fecha)
            </th>

            <th hidden>@Html.DisplayNameFor(model => model.ContratoId)</th>
            <th></th>

        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td class="text-center">
                    $ @Html.DisplayFor(modelItem => item.Importe)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>

                <td class="text-center" hidden>
                    @Html.DisplayFor(modelItem => item.ContratoId)
                </td>
                <td>
                    @if (User.IsInRole("Administrador") || User.IsInRole("Empleado"))
                    {
                        <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-outline-primary" title="Editar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                            </svg>
                        </a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success" title="Detalles">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                            <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
                        </svg>
                    </a>

                    @if (User.IsInRole("Administrador"))
                    {
                        <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-outline-danger" title="Eliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Crear" class="btn btn-outline-dark" asp-route-id="@ViewBag.ContratoId">Pagar</a>
</p>