@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Crear";
    DateTime? fechaInicio = ViewBag.FechaInicio;
    DateTime? fechaFinal = ViewBag.FechaFinal;

    int paraIdInmueble = ViewBag.paraIdInmueble ?? 0;
    List<Inquilino> inquilinos = ViewBag.Inquilinos;
    List<Inmueble> inmuebles = ViewBag.Inmuebles;
    List<Garante> garantes = ViewBag.Garantes;
    decimal precio = 0;

    if (paraIdInmueble > 0)
    {
        foreach (Inmueble inmueble in inmuebles)
        {
            if (inmueble.Id == paraIdInmueble) precio = inmueble.Precio;
        }
    }
}
<h1>Crear</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="date" value="@(fechaInicio.HasValue ? fechaInicio.Value.ToString("yyyy-MM-dd") : "")"/>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCierre" class="control-label"></label>
                <input asp-for="FechaCierre" class="form-control" type="date" value="@(fechaInicio.HasValue ? fechaInicio.Value.ToString("yyyy-MM-dd") : "")"/>
                <span asp-validation-for="FechaCierre" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inmueble</label>
                <select class="form-control" name="InmuebleId" disabled>
                    @foreach (var item in inmuebles)
                    {
                        @:<option @(paraIdInmueble == item.Id ? "selected" : "") value="@item.Id">@(item.Direccion + " - " + item.TipoInmueble)</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label class="control-label">Inquilino</label>
                <select class="form-control" name="InquilinoId">
                    @foreach (var item in inquilinos)
                    {
                        <option value="@item.Id">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Garante</label>
                <select class="form-control" name="GaranteId">
                    @foreach (var item in garantes)
                    {
                        <option value="@item.Id">@(item.Nombre + " - " + item.Dni)</option>
                    }
                </select>
                <span asp-validation-for="GaranteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
        </svg>
    </a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
